// BOOTSTRAP-LIKE BREAKPOINTS
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

// COLORS
$color-w1: #fff;
$color-g1: #efefef;
$color-g2: #e2e2e2;
$color-g3: #f2f2f2;
$color-g4: #ccc;
$color-b1: #48cfde;
$color-b2: #222;
$color-r1: #ea8e89;